<ul class="nav nav-tabs nav-stacked justify-content-end">
	<li class="nav-item">
		<a class="nav-link" href="{% url 'tcsystem:order-create' %}">Написать</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="{% url 'tcsystem:your-orders' %}">Распоряжения</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="{% url 'tcsystem:user-list' %}">Пользователи</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="{% url 'tcsystem:group-list' %}">Группы</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="{% url 'tcsystem:chat-list' %}">Сообщения</a>
	</li>
</ul>